#sectionComoComenzo {
    /* border: 1px solid red; */

    overflow: hidden;
    color: var(--bg-color-1);
    /* background: var(--white-back); */
    /* background-color: var(--bg-color-4); */

    background-color: var(--white-back);
    backdrop-filter: var(--white-filter);

    /* mask-image: radial-gradient(farthest-side at 10% 90%, transparent 80px, black 81px),
        linear-gradient(to bottom, black 85%, transparent 85%),
        linear-gradient(to right, black 25%, transparent 25%);
    mask-size: 100% 100%;
    mask-position: bottom left;
    mask-repeat: no-repeat; */


    /* background-image: url('/assets2/_Polished_Concrete_Old_2.jgp') !important;
    background-size: cover;
    background-repeat: repeat;
    background-position: center; */
    /* background-color: aqua; */
    /* object-fit: contain; */
}

#comoComenzoContainer {
    max-width: var(--max-width);
    width: var(--max-width);
    /* border: 10px solid violet; */
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: calc(var(--menu-height) * 1.25);

}

#textoComoComenzo {
    /* border: 1px solid red; */
    /* max-width: calc(var(--max-width) *0.55); */
    width: 50%;
    font-size: 16px;
    display: flex;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* padding-top: 5%; */
    /* padding-bottom: 10%; */
    /* background-image: url('/assets2aaaa/_Polished_Concrete_Old_2.jgp') ;
    background-size: cover;
    background-repeat: repeat;
    background-position: center; */

}

#tituloComoComenzo {
    /* margin-top: 50px; */
    font-size: 40px;
    font-weight: 900;
    font-family: "Inter" !important;

}


#textoComoComenzo p {
    /* font-family: "Spline Sans Mono" !important; */
    padding: 20px 0;
    font-size: 22px;
    font-weight: bold;
    margin-right: 15%;

}

/* #listaComoComenzo {} */

.itemListaComo {
    /* background-color: var(--bg-color-1); */
    /* color: var(--main-color); */
    /* color: white; */
    background-color: var(--main-color);
    /* border-radius: var(--border-radius2); */
    margin: 0px 0;
    padding: 10px 10px;
    transition: 0.4s;
    opacity: 0;
    transform: translateX(-100%);
    /* box-shadow: var(--shadow1); */

    /* border: 1px solid red; */

    /* border-radius: 0 30px 0px 30px; */
    border-radius: 14px;
    width: 85%;
    /* margin-bottom: 3%; */
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.itemListaComo::before {
    position: absolute;
    /* content: "▼"; */
    /* content: "↓"; */
    content: ">";


    display: inline-block;
    margin-right: 8px;
    /* Espacio entre el símbolo y el texto */
    transition: transform 0.5s ease;
    /* Transición para la rotación */
    right: 10px;
    transform: rotate(90deg);
    /* Rotar la flecha hacia arriba */
    font-family: monospace;
}

.itemListaComo.selected {
    /* background-color: red; */
}

.itemListaComo.selected::before {
    transform: rotate(270deg);
    /* Rotar la flecha hacia arriba */
}

/* .itemListaComo::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: translate(0, -50%);
} */

/* .itemListaComo:nth-child(1) {
    transition: 0.4s 1.4s;
}

.itemListaComo:nth-child(2) {
    transition: 0.4s 1.8s;
}

.itemListaComo:nth-child(3) {
    transition: 0.4s 2.2s;
} */

.itemListaComo.show {
    opacity: 1;
    transform: translateX(0%);
}

.acordeon {
    transition: 0.4s;
    color: white;
    background-color: var(--bg-color-1);
    width: 85%;
    /* transform: scaleY(0) ; */
    /* margin-top: -20px; */
    /* height: 0; */
    position: relative;
    /* opacity: 0; */
    color: transparent;
    padding: 0;
    border-radius: 0 0 20px 20px;

    /* color: white; */
    padding: 0px 10px 0px;
    /* transform: scaleY(0); */
    max-height: 0;
}

.acordeon.selected {
    /* height: 90px; */
    color: white;
    padding: 5px 10px 20px;
    max-height: 500px;
}

.acordeon::before {
    content: '';
    position: absolute;
    top: -25px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-1);

    z-index: -1;
    /* transform: translate(0, -50%); */
}

#textoLaURepresenta {
    /* color: red; */
    padding-top: 20px;
    font-weight: bold;
    transform: translateY(200%);
    transition: 0.4s 1.4s;
    opacity: 0;
}

#textoLaURepresenta.show {
    opacity: 1;
    transform: translateY(0%);

}

#imgContainerComoComenzo {
    /* position: absolute; */
    /* width: calc(var(--max-width) * 0.45); */
    /* height: calc(100% - var(--menu-height)); */
    /* bottom: 0; */
    /* right: calc(50% - var(--max-width)*0.5); */
    /* border-radius: var(--border-radius2); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    width: 50%;

    overflow: hidden;
    position: relative;
}

#imgContainerComoComenzo img {
    /* width: 100%; */
    /* box-shadow: var(--shadow1); */
    transition: 0.75s 0.5s;
    /* transform: translate(0%, 100%); */
    opacity: 0;

    /* height: 48%; */
    /* height: 50%; */
    height: auto;
    width: 100%;
    /* width: 97%; */
    /* max-height: 48%; */
    /* border: 1px solid red; */
    position: absolute;
    left: 0;
    margin-top: auto;


}

#imgContainerComoComenzo img {
    /* border-radius: 150px 0 0 150px; */
    transform: translate(100%, 0);
}
#imgContainerComoComenzo.show img {
    transform: translate(0, 0);
    /* transition: 0.4s 2.6s; */
    transition: 0.4s 0.4s;

    /* opacity: 1; */
}
#imgContainerComoComenzo.show img.selected {
    opacity: 1;
}

/* #imgContainerComoComenzo.show img:nth-child(1) {
    opacity: 1;
} */

/* #imgContainerComoComenzo img:nth-child(1) {
    border-radius: 150px 0 0 150px;
    transform: translate(100%, 0);
}

#imgContainerComoComenzo img:nth-child(2) {
    border-radius: 0 150px 150px 0;
    transform: translate(-100%, 0);
}

#imgContainerComoComenzo.show img:nth-child(1) {
    transform: translate(0, 0);
    transition: 0.4s 0.4s;

    opacity: 1;
}
#imgContainerComoComenzo.show img:nth-child(2) {
    transform: translate(0, 0);
    transition: 0.4s 3.0s;
    opacity: 1;
} */