<!-- <div class="sectionDataContainer"> -->
<div id="comoComenzoContainer">
    <div id="textoComoComenzo">
        <div id="tituloComoComenzo">
            ¿Cómo inició todo?
        </div>

        <p>La Unidad surge con una mirada innovadora sobre la importancia de:</p>
        <div id="listaComoComenzo" class="only-desktop2">
            <div class="itemListaComo">
                Reutilizar este antiguo edificio
            </div>
            <div class="acordeon">construido a fines del siglo XIX, poniendo en valor nuestro patrimonio arquitectónico,
                creando así nuevos usos que permitan su mantenimiento y preservación en el tiempo.
            </div>

            <div class="itemListaComo">
                Ser un atractivo visual
            </div>
            <div class="acordeon">
                al ser el punto de bienvenida a la ciudad desde el puente General Belgrano por donde transitan más de
                siete millones de vehículos al año.
            </div>

            <div class="itemListaComo">
                Unificar y resignificar espacios
            </div>
            <div class="acordeon">donde convivan la innovación, tecnología, ciencia, cultura e historia de Corrientes.
            </div>
        </div>

        <div id="listaComoComenzoMobile" class="only-mobile2">
            <div class="slider-wrapper">
                <div class="itemListaMobile">
                    <div class="texto">
                        <span>Reutilizar este antiguo edificio</span> construido a fines del siglo XIX, <span>poniendo
                            en
                            valor nuestro
                            patrimonio arquitectónico</span>,
                        creando así nuevos usos que permitan su mantenimiento y preservación en el tiempo.
                    </div>

                    <!-- <img src="assets2/005b.png" alt="" srcset=""> -->
                </div>

                <div class="itemListaMobile">
                    <div class="texto">
                        <span>Ser un atractivo visual</span>
                        al ser el punto de bienvenida a la ciudad <span> desde el puente General Belgrano </span>
                        por donde transitan más de siete millones de vehículos al año.
                    </div>
                    <!-- <img src="assets2/001b.png" alt="" srcset=""> -->
                </div>

                <div class="itemListaMobile">
                    <div class="texto">
                        <span>Unificar y resignificar espacios </span>
                        donde convivan la innovación, tecnología, ciencia, cultura e historia de Corrientes.
                    </div>
                    <!-- <img src="assets2/005b.png" alt="" srcset=""> -->
                </div>
            </div>
            <div class="dots-wrapper"></div>
        </div>


        <!-- <div id="textoLaURepresenta">
            La “U” representa las dos torres que presiden el acceso principal y además la unión de los componentes
            históricos
            con el futuro y la innovación para la región.
        </div> -->

    </div>
    <!-- <div id="dummyComoComenzo"></div> -->
    <div id="imgContainerComoComenzo" class="only-desktop22">
        <img src="assets2/foto historica 1.png" class="selected" alt="" srcset="">
        <img src="assets2/foto historica 2.png" alt="" srcset="">
        <img src="assets2/foto historica 3.png" class="" alt="" srcset="">
        <img src="assets2/foto historica 4.png" class="" alt="" srcset="">
        <img src="assets2/foto historica 5.png" class="" alt="" srcset="">

    </div>
</div>