<div id="contact-container">
    <!-- <div class="title">CONTACTO</div> -->

    <div class="subtitle">¿Querés formar parte de La Unidad? </div>

    <div id="form-container">

        <div id="form-right">
            <input type="text" id="input_name" placeholder="NOMBRE" class="white-bubble"></input>
            <input type="text" id="input_email" placeholder="E-MAIL" class="white-bubble"></input>
            <textarea id="textarea_message" placeholder="MENSAJE" class="white-bubble"></textarea>
            <div id="btn-submit">ENVIAR</div>

            <div class="form-social">
                <a href="" target="">
                    <img class="tint" src="assets/icono_ig_color.png" alt="" srcset="">
                </a>
                <a href="" target="">
                    <img class="tint" src="assets/icono_whatsapp_color.png" alt="" srcset="">
                </a>
                <!-- <a href="mailto:mensajes@novaworks.com.ar" target="_blank">
                    <img src="assets/icono_formulario_mail.png" alt="" srcset="">
                </a>
                <a href="https://www.linkedin.com/company/xrs-real-estate-experiencies/" target="_blank">
                    <img src="assets/icono_in_color.png" alt="" srcset="">
                </a> -->
            </div>
        </div>

        <div id="footer">
            <div id="footer-container">
                <!-- <img id="img-footer-logo" class="only-desktop" src="assets/logo-xrs.png" alt="" srcset=""> -->
                <div id="copyright">La Unidad - Copyright 2024</div>
            </div>
        </div>
    </div>
</div>

<div id="modal-message-sent" class="">
    <div class="modal-container" onclick="document.getElementById('modal-message-sent').classList.remove('show')">
        <img src="assets/isologo_color.png" alt="">
        <div class="message-text-big">Gracias por escribirnos</div>
        <div class="message-text-small">Nos pondremos en contacto lo antes posible</div>
        <div class="modal-close-btn">CERRAR</div>
    </div>
</div>