#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--max-width);
    /* width: calc(var(--max-width)*0.75); */
    max-width: 550px;
    /* border: 1px solid red; */
}

#contact-container>.title {
    font-size: 35px;
}

#contact-container>.subtitle {
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
    font-weight: 200;
}

#form-container {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;

}

#form-left,
#form-right {
    /* height: 300px; */
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-margin {
    /* border: 1px solid red; */
    width: 60px;
}

.white-bubble {
    min-height: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

.contact-data img {
    width: 30px;
    margin: 20px;

}

input,
textarea {
    padding: 18px;
    resize: none;
    outline: none;
    border: none
}

textarea {
    width: 100% !important;
    height: 100px;
}

input:focus,
textarea:focus {
    outline: none;
}


#btn-submit {
    /* background-color: var(--main-color); */
    width: fit-content;
    padding: 8px 30px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 40px;
    /* color: black; */
    background: transparent;
    border: 1px solid white;
    transition: 0.4s;
}

#btn-submit:hover {
    /* filter: contrast(150%); */
    background-color: white;
    color: black;
}


.form-social {
    /* position: absolute; */
    /* right: 0; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;

}

.form-social a {
    text-decoration: none;
}

.form-social>a>img {
    /* border: 1px solid red; */
    width: 40px;
    padding: 5px;
    /* margin-left: 15px; */
    /* margin: 20px 10px; */
}

/* /// MODAL MESSAGE SENT ///////// */
#modal-message-sent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#modal-message-sent.show {
    display: flex;
}

.modal-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/fondo-pop-up.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 30px 50px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 20px;
}

.modal-container img {
    width: 100px;
    margin: 20px 0;
}

.message-text-big {
    font-size: 30px;
    font-weight: bold;
}

.message-text-small {
    font-weight: 200;
}

.modal-close-btn {
    color: #000;
    background-color: white;
    border-radius: 20px;
    padding: 7px 20px;
    margin-top: 40px;
    cursor: pointer;
}

/* //// FOOTER ///////////////// */

#footer {
    position: absolute;
    bottom: 0;
    height: calc(var(--menu-height) * 0.6);
    background-color: var(--main-color);
    color: var(--bg-color-1);
    width: 100%;
    left: 0;
}

#footer-container {
    position: relative;
    margin: auto;
    width: var(--max-width);
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
}

#img-footer-logo {
    height: 20px;
}