#sectionImportanciaCultural {
    color: var(--bg-color-1);
    overflow: hidden;
    background-color: var(--bg-color-4);
    background-color: var(--white-back);
    backdrop-filter: var(--white-filter);
}

#importanciaContainer {
    display: flex;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    height: 100%;
    padding-top: var(--menu-height);
    flex-direction: row;
}

#importanciaContainer .izquierda {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 50%;
}

#importanciaContainer .derecha {
    width: 50%;
}

#importanciaContainer .titulo {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 900;
    /* font-family: "Spline Sans Mono" !important; */
    color: black;
    line-height: 150%;
    padding-bottom: 10px;
}

#importanciaContainer .titulo span {
    font-size: 56px;
    font-weight: 900;
    color: var(--main-color);

}

#importanciaContainer .texto {
    /* margin-top: 30px; */
    /* border: 1px solid red; */
    /* max-width: calc(var(--max-width) *0.6); */

    /* padding-top: 10%; */

    font-size: 22px;
    max-width: 90%;
    line-height: 120%;

    /* background-color: var(--main-color); */
    /* border-radius: var(--border-radius2); */
    margin: 30px 0;
    /* margin: auto auto 10px auto; */
    /* padding: 15px; */
    transition: 0.4s;
    /* box-shadow: var(--shadow1); */
    transition: 0.2s;
    font-weight: bold;
    /* opacity: 0;
    transform: translateX(-100%); */

}

#textoImportanciaCultural.show {
    transform: translateX(0);
    opacity: 1;
    transition: 0.4s 0.6s;
}

#textoImportanciaCultural span {
    background-color: var(--main-color);
}

#firmaContainer {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10%;
}

#imgFirmaValdes {
    width: 100%;
    max-width: 250px;
    /* transform: translateX(-100%);
    opacity: 0; */

}

#imgFirmaValdes.show {
    transform: translateX(0);
    opacity: 1;
    transition: 0.4s 1.0s;
}

/* ////  DERECHA ////////////////// */

#imgImportanciaContainer {
    /* border: 5px solid red; */
    /* position: absolute; */
    /* width: var(--max-width); */
    /* margin: auto; */
    /* height: 100%; */
    /* top: 0; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0% 0;
    width: 100%;
    height: 100%;

}


#imgImportancia {
    /* border: 1px solid red; */
    /* border-radius: var(--border-radius2); */
    width: 100%;
    /* height: 100px; */
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 0; */
    /* box-shadow: 5px 5px 10px 1px #00000077; */
    /* box-shadow: var(--shadow1); */
    transform: translateX(100%);
    opacity: 0;
    transition: 0.2s;

    /* border-radius: 150px 0 0 150px; */
    /* border-radius: 40% 0 0 40%; */

}

#imgImportancia.show {
    transform: translateX(0);
    opacity: 1;
    /* transition: 0.4s 1.4s; */
    transition: 0.4s 0.4s;

}

#citaValdes {
    font-size: 16px;
    color: black;
    /* position: absolute; */
    max-width: 60%;
    text-align: right;
    padding-top: 15px;
    transform: translateY(150%);
    opacity: 0;
    transition: 0.2s;
}

#citaValdes p {
    font-style: italic;
}

#citaValdes.show {
    transform: translateY(0);
    opacity: 1;
    transition: 0.4s 0.8s;
}



/* 
#dummyImportancia1,
#dummyImportancia2,
#dummyImportancia3 {
    position: absolute;
    bottom: 10%;
    width: calc(var(--max-width) * 0.4);
    height: 40%;
    background-color: #00000099;
    border-radius: var(--border-radius2);
    left: calc(50% - var(--max-width)*0.5);
    opacity: 1;
}

#dummyImportancia1 {
    transition: 0.75s 0.75s;
    display: none;
}

#dummyImportancia2 {
    left: unset;
    right: calc(50% - var(--max-width)*0.5);
    height: 32%;
    width: calc(var(--max-width) * 0.55);
    transition: 0.75s 0.5s;
    display: none;
}
#dummyImportancia3 {
    bottom: unset;
    top: calc(var(--menu-height) * 1.5);
    left: unset;
    right: calc(50% - var(--max-width)*0.5);
    transition: 0.75s 0.25s;
}
#dummyImportancia1.hide {
    left: -50%;
    transition: 0;
}
#dummyImportancia2.hide {
    bottom: -50%;
    transition: 0;
}
#dummyImportancia3.hide {
    right: -100%;
    transition: 0;
} */