<!-- <div class="sectionDataContainer"> -->
<div id="importanciaContainer">
    <div class="izquierda">

        <div class="titulo">
            <!-- <img id="imgImportanciaMobile" class="only-mobile" src="assets2/foto_valdes2.jpg" alt="" srcset=""> -->
            <img id="imgImportanciaMobile" class="only-mobile" src="assets2/valdes_degradado.png" alt="" srcset="">
            <div id="textoImportanciaTitulo">

                La importancia de <br>
                <span>
                    LA UNIDAD
                </span>
            </div>
        </div>
        <br>

        <div class="texto" id="textoImportanciaCultural">
            <!-- <p>
            En La Unidad respetamos el patrimonio histórico, poniendo en valor los edificios y construyendo el Museo de
            la
            Prisión que recordará sus más de 100 años de historia.
        </p> -->

            <!-- “La Unidad será un espacio de unión. Queremos
            unir <span>historia y futuro</span>; A los que generan
            conocimiento con los emprendedores que lo
            aplican; A los que producen con los consumidores;
            A quienes nos visitan con nuestra <span>esencia</span>.” -->
            "La Unidad será un espacio de unión. Queremos unir <span>historia y futuro</span>; a los que generan
            conocimientos con los
            emprendedores que lo aplican; a los que producen con los consumidores; a quienes nos visitan con nuestra
            <span>esencia</span>."
        </div>
        <div id="firmaContainer">

            <img id="imgFirmaValdes" src="assets2/firma_valdes2.png" alt="" srcset="">
        </div>

    </div>
    <div class="derecha">

        <div id="imgImportanciaContainer">

            <!-- <img id="imgImportancia" src="assets2/valdes3.jpg" alt="" srcset=""> -->
            <!-- <img id="imgImportancia" src="assets2/foto_valdes2.jpg" alt="" srcset=""> -->
            <img id="imgImportancia" src="assets2/foto gobernador recortada.png" alt="" srcset="">

            <!-- <blockquote id="citaValdes">
            <p>“La Unidad será un espacio de unión. Queremos unir historia y futuro; a los que generan conocimiento con
                los
                emprendedores que lo aplican; a los que producen con los consumidores; a quienes nos visitan con nuestra
                esencia”</p>
            <footer>— Gobernador Gustavo Valdés</footer>
        </blockquote> -->
        </div>

        <!-- <div id="dummyImportancia1"></div>
    <div id="dummyImportancia2"></div>
    <div id="dummyImportancia3"></div> -->
    </div>


    <!-- <p>(link al canal de youtube)</p> -->
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/bzuFkNhLhfE?si=K48dAuw_QVtjaule"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe> -->
    <!-- </div> -->

</div>