/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* font-family: "Spline Sans Mono" !important; */
* {
  font-family: "Inter" !important;
}

:root {
  --max-width: min(1600px, 90%);
  --menu-height: 90px;

  --bg-color-1: #1e1e1e;
  --text-color2: #ddd;

  /* --bg-color-1: #F6F7F8; */

  /* --bg-color-1: #000; */
  /* --main-color: #AB8868; */
  --main-color: #b2ee2e;
  --text-color: #fff;

  /* --main-color: #ff0000; */


  --bg-color-2: #F6F7F8;
  --bg-color-3: #ff00ec;
  --bg-color-4: #EEF0F2;
  --border-radius: 10px;
  --border-radius2: 15px;

  --shadow1: 2px 3px 9px 0px #00000077;
  /* --white-back: #ffffffd0; */
  --white-back: #ffffffd7;

  --white-filter: invert(1) saturate(0) contrast(2);
  /*   --white-filter: invert(1) saturate(0) contrast(10) ; */
  --text-scale: 1.0;

}

/* GUI DAT GUI */
.dg.ac {
  z-index: 10 !important;
}

.tint {
  -webkit-filter: saturate(0) contrast(5000%);
  filter: saturate(0) contrast(5000%);
}



/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html

/* body */
  {
  /* background-color: #000; */

  /* background: rgb(88,88,88); */
  /* background: radial-gradient(circle, rgba(88,88,88,1) 0%, rgba(30,30,30,1) 48%); */
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

html,
body {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  /* -ms-scroll-snap-type: y proximity; */
  /* scroll-snap-type: y proximity; */
  scroll-behavior: smooth;
  /* scroll-behavior:auto; */

  /* overflow: hidden auto; */
  /* background-color: var(--bg-color-1) */


}

#debug-log {
  position: fixed;
  bottom: 0;
  left: 0;
  background: black;
  color: white;
  font-size: 12px;
  padding: 10px;
  z-index: 9999;
  opacity: 0.75;
  pointer-events: none;
  display: none;
}


#fixed-background {
  background: rgb(62, 62, 62);
  background: -o-radial-gradient(circle, rgba(62, 62, 62, 1) 0%, rgba(30, 30, 30, 1) 75%);
  background: radial-gradient(circle, rgba(62, 62, 62, 1) 0%, rgba(30, 30, 30, 1) 75%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#wip {
  background-color: #00000040;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #aaa;
  display: none;
}

canvas {
  /* border: 10px solid red; */
  /* filter: contrast(1.3) brightness(0.92) hue-rotate(90deg); */
  /* z-index: 123455; */

}

#p5-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}


/* /// BG IMAGES */
#sectionHome {
  /* overflow: hidden; */
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  /* border: 5px solid greenyellow; */
}

#sectionHome img {
  max-width: min(600px, 90%);
}

#canvasContainer {
  /* border: 5px solid greenyellow; */
  max-width: 98.5vw;
  max-height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  /* border: 1px solid red; */
}

#canvasContainer.move {
  /* transform: translate(-40%, -50%); */
}

#canvasContainer.hide {
  /* transition: 0.8s; */
  /* left: 150% */
}

#textoHome {
  position: absolute;
  /* top: calc(var(--menu-height) + 50px); */
  /* top: 30%; */
  top: 0;
  /* bottom: 80px; */
  /* left: -20px; */
  right: 0;
  text-align: right;
  font-size: 27px;
  /* text-transform: uppercase; */
  /* font-family: "Spline Sans Mono" !important; */
  /* font-weight: 600; */
  line-height: 120%;
  /* background-color: var(--main-color); */
  height: 100%;
  padding: 0 0px;
  padding-top: 15%;
  font-weight: normal;

  /* opacity: 0.8; */
  /* display: none; */

  /* color: transparent; */
  /* -webkit-text-stroke: 1px white; */
  /* text-stroke: 1px white; */
  /* color: var(--main-color); */
  /* max-width: 60%; */
  font-family: "Inter" !important;
  pointer-events: none;
}

#textoHome span {
  /* font-family: "Spline Sans Mono" !important; */
  /* font-size: 25px; */

}

#textoHome span.verde {
  line-height: 120%;
  /* font-family: "Spline Sans Mono" !important; */
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 900;
  /* font-size: 50px; */
  font-size: calc(var(--text-scale) * 50px);

}

#textoHome span.invert-verde {
  color: var(--bg-color-1);
  position: relative;
}

#textoHome span.invert-verde::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  padding: 3px;
  -webkit-transform: rotateZ(-2deg) translate(-3%, -3%);
  -ms-transform: rotate(-2deg) translate(-3%, -3%);
  transform: rotateZ(-2deg) translate(-3%, -3%);

}

/* #textoHome span {
  font-size: 25px;
  font-weight: normal;
  color: white;

  text-transform: none;
  font-style: italic;
  line-height: 50% !important;
} */




/*  /////////////////////////////////////// */

.sections,
.section {
  background-blend-mode: hard-light;
  /* background-size: 70%; */

  background-attachment: fixed !important;

}

.sectionDataContainer {
  max-width: var(--max-width);
  margin: auto;
  /* padding: 30px; */
  height: 100%;
  padding-top: calc(var(--menu-height) + 0px);

  /* background: #0009; */
}



#sectionImportanciaCultural {
  /* background-size: 70%; */
  /* background-blend-mode: exclusion; */

  /* overflow: hidden; */
  /* background-color: var(--bg-color-2); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* max-width: 500px;
  margin: auto;
  padding: 30px; */

}


#sectionContact {
  /* background-size: 70%; */
  /* background-blend-mode: exclusion; */

  /* overflow: hidden; */
  /* background-color: var(--bg-color-1); */

}


#sections {
  position: relative;
  width: 100%;
  height: 100vh;
}

.section {
  width: 100%;
  position: relative;
  height: 100vh;
  /* overflow: hidden; */
  scroll-snap-align: start;

  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ////////////////////////////////  */
/* ////////////////////////////////  */
/* ////////////////////////////////  */

.labelOnCanvas {
  position: absolute;
  pointer-events: none;
  color: var(--bg-color-1);
  font-weight: bold;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 7px;
  background: var(--main-color);
  text-align: center;

  /* transform: translate(-50%, -50%) scale(1); */
  opacity: 0.0;
  -webkit-transform: translate(-50%, -200%) scale(1);
  -ms-transform: translate(-50%, -200%) scale(1);
  transform: translate(-50%, -200%) scale(1);

  /* transform: translate(-50%, -50%) scale(1); */

  /* min-width: 150px; */
  width: 150px;
  height: 40px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.1s;
  transition: opacity 0.2s, -webkit-transform 0.1s;
  -o-transition: transform 0.1s, opacity 0.2s;
  transition: transform 0.1s, opacity 0.2s, width 0.2s, height 0.2s, 0 color 0;
  transition: transform 0.1s, opacity 0.2s, width 0.2s, height 0.2s, 0 color 0, -webkit-transform 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.labelOnCanvas.mini {
  color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: transform 0.1s, opacity 0.2s, width 0.2s, height 0.2s, 0 color 0, -webkit-transform 0.1s;
}
.labelOnCanvas.notmini{
  width: 150px;
  height: 40px;
  border-radius: 7px;
  color: var(--bg-color-1);
}

.labelOnCanvas.selected {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.2s;
  transition: opacity 0.3s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, opacity 0.3s;
  transition: transform 0.2s, opacity 0.3s, width 0.2s, height 0.2s, 0.0s color 0.2s;
  transition: transform 0.2s, opacity 0.3s, width 0.2s, height 0.2s, 0.0s color 0.2s, -webkit-transform 0.2s;

  /* transition: transform 0.3s cubic-bezier(.65,1.79,.7,.62), opacity 0.3s; */
  /* transition: transform 0.2s cubic-bezier(.73,1.84,.72,.44), opacity 0.3s; */

  -webkit-transform: translate(-50%, -50%) scale(1);

  -ms-transform: translate(-50%, -50%) scale(1);

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

}

#label_base {
  display: none;
}

.labelOnCanvas::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--main-color);
  /* Puedes cambiar el color */
  -webkit-transform: translate(-50%, -5%) rotate(180deg);
  -ms-transform: translate(-50%, -5%) rotate(180deg);
  transform: translate(-50%, -5%) rotate(180deg);
}

/* ////////////////////////////////  */
/* ////////////////////////////////  */
/* ////////////////////////////////  */
/* ////////////////////////////////  */