/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --loader-pct: 0%;
    --bg-loader: #000000;
}

#loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #1e1e1eee;
    /* transition: opacity 0.75s 0.25s, transform 1.0s; */
    will-change: opacity;
    -webkit-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
    /* transform: translate(0%, -100%) scale(10); */
    /* opacity: 0; */

}

#loader.hide {
    opacity: 0;
    /* transition: opacity 0.8s, display 1.0s 1.0s; */
    /* display: none; */
    /* transform: translate(0%, -100%) scale(10); */

    pointer-events: none;
}

#loader-content {
    margin-bottom: 20px;
}


/* ///////////////////////// */
#img-logo-loader-container {
    position: relative;
    max-width: 100px !important;
    width: 60%;
    margin: 40px auto;
    padding: 0;
    /* transform: scale(2); */
    /* transition: 0.4s; */
    /* transform: scale(2.5); */
    z-index: -1;
    /* border: 1px solid red; */
}



#img-logo-loader-container::before {
    z-index: -1;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    /* width: var(--loader-pct); */
    width: 100%;
    max-width: 100%;
    height: 96%;
    background: var(--main-color);
    opacity: 0.0;

}

/* #img-logo-loader-container::after {
    z-index: -1;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0.5);
    transform-origin: top left;
    max-width: 100%;
    height: 96%;
    background: var(--main-color);
} */
/* width: var(--loader-pct); */
#img-logo-loader-container.untransit::after {
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
    opacity: 0;
}

#loadingBar {
    background-color: var(--main-color);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    -webkit-transform: scaleX(0.0);
    -ms-transform: scaleX(0.0);
    transform: scaleX(0.0);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    will-change: transform;
}

#img-logo-loader {
    padding: 0;
    -webkit-filter: brightness(0.0);
    filter: brightness(0.0);
    /* opacity: 0.5; */
    /* position: relative; */
    width: 100%;
    /* mix-blend-mode: color-dodge; */
}

#black1,
#black2 {
    position: absolute;
    /* content: ' '; */
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    /* background-color: black; */
}

#black1::before,
#black2::before {
    position: absolute;
    z-index: -1;

    content: ' ';
    bottom: 98%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-loader);
    /* background-color: red; */


}

#black1::after,
#black2::after {
    position: absolute;
    content: ' ';
    top: 0%;
    left: 99%;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-loader);
    /* background-color: red; */
    /* z-index: 10; */
}

#black2::before {
    top: 96%;
    left: unset;
    right: 0;
    background-color: var(--bg-loader);
    /* background-color: red; */
    /* z-index: 10; */
    /* border: 1px solid red; */

}

#black2::after {

    top: unset;
    bottom: 0;
    left: unset;
    right: 99%;
    background-color: var(--bg-loader);
}

/* ///////////////////////// */

#loader-text {
    color: white;
    font-size: 35px;
    /* max-width: 500px; */
    text-align: center;
    /* margin-bottom: 50px; */
    line-height: 160%;
    z-index: 10;
    /* position: absolute; */
    /* font-family: "Spline Sans Mono" !important; */
    /* font-family: "Spline Sans Mono" !important; */
    font-family: "Inter" !important;
    text-transform: uppercase;
    font-weight: 700;

}

#loader-text span {
    /* text-align: justify; */

    /* font-weight: bold; */
    /* font-size: 25px; */
    /* color: var(--main-color); */
    /* font-family: "Spline Sans Mono" !important; */
    /* text-transform: uppercase; */
    /* font-size: 35px; */
    background-color: var(--main-color);
    padding: 0 8px;
}

#loader-pregunta {
    color: var(--main-color);
    text-transform: none;
    font-weight: normal;

}

#nota-loader {
    font-size: 12px;
    margin: 10px;
}

#loader>img {
    width: 75px;
    margin-bottom: 50px;
}

#btn-loader {
    color: var(--main-color);
    margin-top: -60px;
    padding: 20px 30px;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    text-transform: uppercase;
    /* box-shadow: 3px 3px 4px 0px #b2ee2e77; */

    /* color: var(--bg-color-1); */
    /* background-color: var(--main-color); */
    font-weight: bold;
}

#btn-loader:hover {
    /* color: var(--text-color); */
    /* background-color: transparent; */

    color: var(--bg-color-1);
    background-color: var(--main-color);
}

#btn-loader.show {
    opacity: 1;
    pointer-events: all;


}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid var(--main-color);
    /* border: 9px solid white; */

    -webkit-animation: spinner-bulqg1 0.8s infinite linear alternate,
        spinner-oaa3wk 1.6s infinite linear;

    animation: spinner-bulqg1 0.8s infinite linear alternate,
        spinner-oaa3wk 1.6s infinite linear;

    opacity: 0.0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.spinner.show {
    opacity: 1.0;
}

@-webkit-keyframes spinner-bulqg1 {
    0% {
        -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }

    12.5% {
        -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }

    25% {
        -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }

    50% {
        -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    62.5% {
        -webkit-clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    75% {
        -webkit-clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }

    100% {
        -webkit-clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
}

@keyframes spinner-bulqg1 {
    0% {
        -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }

    12.5% {
        -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }

    25% {
        -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }

    50% {
        -webkit-clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    62.5% {
        -webkit-clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    75% {
        -webkit-clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }

    100% {
        -webkit-clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
}

@-webkit-keyframes spinner-oaa3wk {
    0% {
        -webkit-transform: scaleY(1) rotate(0deg);
        transform: scaleY(1) rotate(0deg);
    }

    49.99% {
        -webkit-transform: scaleY(1) rotate(135deg);
        transform: scaleY(1) rotate(135deg);
    }

    50% {
        -webkit-transform: scaleY(-1) rotate(0deg);
        transform: scaleY(-1) rotate(0deg);
    }

    100% {
        -webkit-transform: scaleY(-1) rotate(-135deg);
        transform: scaleY(-1) rotate(-135deg);
    }
}

@keyframes spinner-oaa3wk {
    0% {
        -webkit-transform: scaleY(1) rotate(0deg);
        transform: scaleY(1) rotate(0deg);
    }

    49.99% {
        -webkit-transform: scaleY(1) rotate(135deg);
        transform: scaleY(1) rotate(135deg);
    }

    50% {
        -webkit-transform: scaleY(-1) rotate(0deg);
        transform: scaleY(-1) rotate(0deg);
    }

    100% {
        -webkit-transform: scaleY(-1) rotate(-135deg);
        transform: scaleY(-1) rotate(-135deg);
    }
}