/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.only-mobile {
    display: none !important;
}

.only-mobile2 {
    display: none !important;
}

.only-desktop {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.only-desktop2 {
    /* display: flex ; */
}

@media (max-width: 767px) {
    :root {
        --menu-height: 60px;
    }

    .only-mobile {
        display: block !important;
    /* border: 10px solid greenyellow; */

    }

    .only-desktop,
    .only-desktop2 {
        display: none !important;
    }

    html,
    body {
        width: 100%;
        /* overflow-x: hidden; */
    }

    .section {
        overflow-x: hidden;

    }

    /* /// MENU //////////////////////////////////////////////// */
    #navBar {
        max-width: 100vw;
    }

    #menu-items,
    .menu-social {
        display: none;
    }

    #menu-burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #menu-logo,
    #menu-logo img {
        /* height: 60px; */
        height: auto;
        width: 110px;
    }

    #btn-back,
    #img-menu {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    #navBar.showBg {
        /* background-color: unset; */
        /* backdrop-filter: unset; */
    }

    /* /// SECTIONS */
    .section {
        overflow-y: hidden;
        /* display: none; */
        /* transition: 0.4s; */

    }

    .section.hide {
        /* display: none; */
        max-height: 0;
        overflow: hidden;
    }

    #sectionHome img {
        max-width: 60%;
    }

    #sectionXrsWeb,
    #sectionXrsMobile,
    #sectionXrsVr {
        /* display: none; */
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        max-height: 0;
        /* overflow: hidden; */
        overflow-y: scroll;
    }

    #sectionXrsWeb.show,
    #sectionXrsMobile.show,
    #sectionXrsVr.show {
        /* display: block; */
        min-height: 100vh;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        max-height: 150vh;
        padding-top: var(--menu-height);

    }

    /* /// BG IMAGES //////////////////////////////////////////////// */
    #sectionComoComenzo,
    #sectionSynthesis {
        /* background-image: url("../public/assets/mobile-bg1.jpg"); */
        /* background-image: url("../public/assets/back-productos.jpg"); */
        /* flex-direction: column; */
    }

    #sectionXrsWeb,
    #sectionXrsMobile,
    #sectionXrsVr {
        /* background-image: url("../public/assets/back-productos.jpg"); */
    }

    #sectionComoComenzo,
    #sectionSynthesis,
    #sectionXrsWeb,
    #sectionXrsMobile,
    #sectionXrsVr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-items: baseline;
    }


    /* /// SECTION ABOUT ////////////////////////////////////// */
    .img-top-section-mobile {
        width: 100%;
        /* position: absolute; */
        /* top: calc(var(--menu-height)*1); */
    }

    .text-bubble {
        /* margin-top: calc(100vw *0.66); */
        margin-top: 50px;
        left: unset;
        position: relative;
        width: var(--max-width);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-color: #00000020;
        -webkit-backdrop-filter: contrast(106%) brightness(170%);
        backdrop-filter: contrast(106%) brightness(170%);
    }

    .text-bubble>.title,
    .text-bubble>.text {
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);

        background-color: transparent;
    }

    .text-bubble .text {
        font-size: 14px;
        font-weight: 200;
        line-height: 160%;
    }

    /* /// SECTION PRODUCTS LIST ////////////////////////////////////// */
    .products-list-items.only-mobile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .products-list-item {
        width: 100%;
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;

        margin-top: 30px;
        -webkit-tap-highlight-color: transparent;

    }

    .products-list-item .title {
        border: none;
        border: 1px solid var(--main-color);
        border-radius: 0 20px 20px 0;
        border-left: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        font-size: 20px;

    }

    .products-list-item .icon-container {
        max-width: 100px;
        border: 1px solid var(--main-color);
        border-radius: 20px 0 0 20px;
        padding: 15px 0px;

    }

    .icon-container>.icon {
        max-width: 100%;
        padding: 0 20px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .products-list-item:hover {
        /* backdrop-filter: contrast(106%) brightness(170%); */

    }

    .products-list-item:hover .title,
    .products-list-item:hover .btn-read-more {
        background-color: unset;
        color: white;
    }

    .products-list-item:hover .icon {
        padding: 0 20px;

    }

    /* /// SECTIONS XRS PRODUCTS //////////////////////////////////////////////// */
    #sectionXrsWeb,
    #sectionXrsMobile,
    #sectionXrsVr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
        justify-content: baseline;
    }

    .product-right-panel {
        width: 0%;
    }

    .product-left-panel {
        padding-top: 0;
    }

    .product-section-container {
        /* padding-bottom: 100px; */
        height: auto;
        padding-top: var(--menu-height) !important;
        /* margin-bottom: 50px; */
    }

    .product-item {
        -webkit-tap-highlight-color: transparent;
    }

    /* /// SECTION SYNTHESIS //////////////////////////////////////////////// */



    /* /// SECTION CONTACT //////////////////////////////////////////////// */
    #contact-container>.title {
        font-size: 30px;
    }

    #contact-container>.subtitle {
        font-size: 15px;
        margin: 20px 0;
    }

    #footer {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    #copyright {
        font-size: 14px;
        padding: 10px 0;
        /* color: black; */
        text-align: center;
        width: 100%;
    }

    .modal-container {
        padding: 20px 10px;
    }

    .message-text-big {
        font-size: 25px;
        font-weight: bold;
    }

    .message-text-small {
        font-size: 14px;
    }

    .modal-close-btn {
        margin-top: 20px;
    }
}