/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#noForMobileModal {
    display: none;
}

@media (max-width: 768px) {
    .only-mobile2 {
        display: block;
    }


    /* body, */
    html {
        overflow-x: hidden;
    }

    /* @media (max-width: 1115px) { */
    /* @media (max-width: 100px) { */
    :root {
        --menu-height: 90px;

    }

    .section {
        /* border: 1px solid red; */
        height: 100dvh !important;

    }

    #noForMobileModal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 123456789;
        background-color: #000000ee;
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        font-size: 25px;
        padding: 10%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: none;
    }

    #noForMobileModal img {
        width: 200px;
        margin: 30px;
    }

    #loader {
        -webkit-transform: scale(80%);
        -ms-transform: scale(80%);
        transform: scale(80%);
    }


    #textoHome {
        font-size: 17px;
        padding-top: 30%;
        pointer-events: none;

    }

    #textoHome span.verde {
        font-size: 30px;

    }

    #sGastronomico .title,
    #sMuseo .title,
    #sInnovacion .title,
    #sShopping .title,
    #sEstacionamiento .title {
        font-size: 32px;
        /* border: 1px solid red; */
        width: 100%;
        background-color: #00000066;
        /* background-color: #ff000066; */
        border-radius: 10px 10px 0 0;
        /* padding: 2px 5px; */
        padding: 10px 10px;

    }

    #sGastronomico .title::before,
    #sMuseo .title::before,
    #sInnovacion .title::before,
    #sShopping .title::before,
    #sEstacionamiento .title::before {
        /* content: 'x'; */
        /* content: '\2716'; */
        content: '\203A';
        font-size: 30px;
        /* font-size: 20px; */

        color: var(--main-color);
        color: white;

        line-height: 100%;
        font-weight: 500;
        position: absolute;
        padding: 5px;
        top: 0;
        right: 10px;
        left: unset;
        /* 
        transform: rotate(-90deg) translate(150%, -10px); */
        /* transform:  translate(-5%, -75%); */
        /* left: 0; */
        transform: rotate(-90deg) translate(150%, 0%);


        pointer-events: all;
        /* background: red; */
        /* display: none; */
    }

    #sGastronomico .text,
    #sMuseo .text,
    #sInnovacion .text,
    #sShopping .text,
    #sEstacionamiento .text {
        font-size: 16px;
        max-width: 90%;
        /* text-align: justify; */
        /* border: 1px solid red; */
        background-color: #00000066;
        /* background-color: #ff000077; */

        /* padding: 5px; */
        padding: 5px 10px 10px 10px;
        width: 100%;
        max-width: 100%;
        border-radius: 0 0 10px 10px;
        /* border: 1px solid red; */
    }


    /* /////////////// COMO COMENZO //////////////////// */

    #sectionComoComenzo {
        background-color: white;
        /* border: 1px solid red; */
    }

    #comoComenzoContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #textoComoComenzo {
        width: 100%;
        height: 50%;
        -ms-flex-negative: 0;
        flex-shrink: 0;

    }

    @media (max-height: 900px) {
        #tituloComoComenzo {
            font-size: 32px;
        }
    }

    #imgContainerComoComenzo {
        /* display: none; */
        height: 100%;
        width: 120%;
        /* width: 100%; */
        /* height: unset; */
        /* border: 5px solid green; */
        bottom: 0;
        /* position: absolute; */
        top: unset;
        left: 0;
        margin-left: -10%;
        /* flex-shrink: 0; */
    }

    #imgContainerComoComenzo img {
        -o-object-fit: contain;
        object-fit: contain;
        border-radius: 0;
        /* border: 1px solid red; */
        height: 95%;
        width: auto;
        margin: auto;
        /* width: 100%; */
        /* height: auto; */
    }

    #imgContainerComoComenzo.show img {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    #listaComoComenzoMobile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: 110%;
        /* border: 1px solid red; */
        margin-left: -5%;
        /* padding: 0 20px; */

    }

    .slider-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-overflow-style: none;
        scrollbar-width: none;
        /* position: relative; */
        padding: 0 20px;

    }


    .itemListaMobile {
        /* margin: 0 10px; */
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        /* width: 90%; */
        width: 100%;

        scroll-snap-align: start;

        position: static;
        /* width: 90vw;  */
        pointer-events: none;
    }

    .itemListaMobile .texto {
        /* border: 1px solid red; */
        background-color: var(--main-color);
        padding: 15px 10px;
        border-radius: 15px;
        height: 100%;
        margin: 0 0 0 5%;
    }

    .itemListaMobile span {
        font-weight: bold;
    }

    /* .slider-wrapper>.separador {
        border: 1px solid red;
        width: 20px !important;
        height: 100%;
        padding: 20px;
    } */

    .slider-wrapper::-webkit-scrollbar {
        display: none;
    }

    /* .itemListaMobile img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;
        border: 3px solid orange;
    } */

    .dots-wrapper {
        text-align: center;
        /* margin-top: 10px; */
        /* border: 1px solid red; */
        margin: 5px 0;
        /* position: absolute; */
        bottom: 0;
        left: 50%;
        /* transform: translate(-50%, -100%) */
    }

    .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 5px;
        /* border: 1px solid black; */
    }

    .dot.active {
        /* background-color: #555; */
        background-color: var(--main-color);


    }


    /* /////////////// IMPORTANCIA //////////////////// */
    #sectionImportanciaCultural {
        background-color: white;
    }

    #importanciaContainer {
        /* display: none; */
        /* border: 1px solid red; */
        width: 100%;
        max-width: 100%;
    }

    #importanciaContainer .izquierda {
        width: 100%;
        /* border: 1px solid red; */
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

    }

    #importanciaContainer .derecha {
        display: none;
    }



    .izquierda .titulo {
        width: 100%;
        padding: 0 5%;
        height: 50%;
        margin-top: 0 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        /* background-image: url('assets2/foto_valdes2.jpg');
        background-size: cover;
        background-position: center; */
        position: relative;
        font-size: 32px !important;

        /* border: 5px solid orange; */
        color: white !important;

    }

    #imgImportanciaMobile {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        /* border: 10px solid violet; */
        z-index: 0;
        -o-object-fit: cover;
        object-fit: cover;
        margin: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: block !important;
    }

    #textoImportanciaTitulo {
        z-index: 0;
    }

    .izquierda .texto {
        /* border: 2px solid orange; */
        /* width: 100%; */
        /* margin: auto; */
    }

    #firmaContainer {
        /* border: 1px solid red; */
        width: 100%;
        padding-right: 5%;
    }

    #imgFirmaValdes {
        /* border: 1px solid red; */
        max-width: 50%;

    }

}