/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/* src/main.css o cualquier archivo CSS que uses */
/* @import '@fortawesome/fontawesome-free/css/all.min.css'; */

.fab,
.fas,
.far,
.fal,
.fad {
    font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands", "Font Awesome 5 Free", "Font Awesome 5 Brands" !important;
}

#navBar {
    position: fixed;
    width: 100%;
    background-color: #00000000;
    z-index: 1;
    height: var(--menu-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    padding-top: 0px;
}


#navBar.showBg {
    -webkit-transition: background-color 1.2s 0.6s;
    -o-transition: background-color 1.2s 0.6s;
    transition: background-color 1.2s 0.6s;
    /* background-color: #00000040; */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#navBar.dark {
    background-color: #000000ff;

}

#navbarContainer {
    width: var(--max-width);
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

#menu-logo {
    position: absolute;
    left: 0;
    height: var(--menu-height);
    -o-object-fit: contain;
    object-fit: contain;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    width: 130px;
}

#btn-back,
#img-menu {
    padding: 25px 0;
    /* width: 200px; */
    /* height: 150px; */
    height: var(--menu-height);
    /* max-width: 0; */
    opacity: 0;
    position: absolute;
    top: 0px;
}

/* #btn-back::before,
#menu-logo::before,
.img-menu::before,
#img-menu::before 
{
    z-index: 123;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: greenyellow;
    background-color: var(--main-color); 
    mix-blend-mode: color;
    opacity: 0.5;
} */
#btn-back {
    padding: 10px;
}

#btn-back.show,
#img-menu.show {
    /* max-width: 200px; */
    opacity: 1;

}


.menu-social {
    position: absolute;
    right: 0;
}

#side-menu-social a,
.menu-social a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    /* width: 18px; */
    font-size: 20px;
}
#side-menu-social a{
    margin: 15px;
    font-size: 25px;

}


.menu-social>a>img {
    /* border: 1px solid red; */
    width: 18px;
    /* margin-left: 16px; */
}


#menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    word-wrap: none;
    /* justify-content: end; */
    font-size: 13px;
    /* font-weight: lighter; */
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;

}

.menu-item {
    margin: 0px 8px;
    padding: 12px 0px;
    cursor: pointer;
    color: var(--text-color);
    border: 2px solid transparent;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* width: 140px; */
    border-bottom: 1px solid transparent;
    /* transition: 0.4s; */

}

.menu-item:nth-child(1) {
    width: 70px;
}

.menu-item:nth-child(2) {
    width: 140px;
}

.menu-item:nth-child(3) {
    width: 185px;
}

.menu-item:nth-child(4) {
    width: 110px;
}

/* .menu-item:nth-child(5) {
    margin: 0;
} */

.menu-item:hover {
    font-weight: bold;
    color: var(--main-color);


}

.menu-item.selected {
    /* border: 1px solid red; */
    border-bottom: 1px solid var(--main-color);
}

/* #menu-products-items {
    position: absolute;
    top: 45px;
    left: calc(50% + 25px);
    transform: translate(-50%, 0);
    pointer-events: none;
    opacity: 0.0;
    transition: 0.4s;
} */

/* #menu-products-items.show, */
/* #menuProducts:hover #menu-products-items,
#menu-products-items:hover {
    pointer-events: all;
    opacity: 1;
    transition: 0.4s;
} */

.menu-subitem {
    padding: 15px 10px;
    color: white;
    font-weight: normal;
    border-bottom: 2px solid var(--main-color);
    cursor: pointer;
    background-color: #00000055;
}

.menu-subitem:nth-child(1) {
    border-top: 2px solid var(--main-color);
}

.menu-subitem:hover {
    font-weight: bold;
}

/* /// MOBILE SIDE MENU */
#mobile-side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    /* z-index:0; */

    /* background-color: var(--bg-color-1); */
    background-color: #1A1D21f7;
    /* display: none; */
    left: 100vw;
    pointer-events: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;

}

#mobile-side-menu.show {
    pointer-events: all;
    left: 0;

}

#side-menu-item-container {
    /* border: 1px solid red; */
    margin: auto;
    margin-top: calc(var(--menu-height) + 30px);
    /* padding: 0 30px; */
    width: var(--max-width);
}

.side-menu-item {
    color: white;
    padding: 12px 0;
    font-size: 18px;
    border-bottom: 1px solid var(--main-color);
    text-transform: uppercase;
    touch-action: manipulation;

}

.side-menu-item.gold {
    color: var(--main-color);
}

#side-menu-social {
    margin-top: 30px;
    /* border: 1px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#side-menu-social img {
    /* border: 1px solid red; */
    width: 35px;
    padding: 12px 5px;
    margin: 0 10px;
    /* padding-left: 0; */
    /* margin-right: 20px; */
}