<div id="navbarContainer">
    <div id="menu-logo">
        <img id="img-menu" class="show" src="assets2/LA UNIDAD - Logotipo - White.png" alt="" srcset="">
        <!-- <img id="img-menu" class="show img-menu" src="assets2/LA UNIDAD - Logotipo - Color.png" alt="" srcset=""> -->

        <img id="btn-back" src="assets/back.png" alt="" srcset="">
    </div>
    <div id="menu-items">
        <div class="menu-item selected">Home</div>
        <div class="menu-item" >Cómo comenzó</div>
        <div class="menu-item" 
        >importancia cultural
        <!-- id="menuProducts" -->

            <!-- <div id="menu-products-items">
                <div class="menu-subitem">XRS Web</div>
                <div class="menu-subitem">XRS Mobile</div>
                <div class="menu-subitem">Experiencia VR</div>
            </div> -->
        </div>

        <!-- <div class="menu-item">Contacto</div> -->
    </div>
    <div class="menu-social">
        <!-- <a href="" target="">
            <img class="tint" src="assets/icono_ig_color.png" alt="" srcset="">
        </a>
        <a href="" target="">
            <img class="tint" src="assets/icono_whatsapp_color.png" alt="" srcset="">
        </a> -->

        <a href="https://www.tiktok.com/@unidadcorrientes" target="_blank" class="social-icon"><i class="fab fa-tiktok"></i></a>
        <a href="https://x.com/LaUnidadCtes" target="_blank" class="social-icon"><i class="fab fa-x-twitter"></i></a> <!-- o  para la versión más reciente -->
        <a href="https://www.instagram.com/launidadcorrientes/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UC7VtAdXjMnShEWvkslHd93g" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
        
        <!-- <a href="mailto:mensajes@novaworks.com.ar" target="_blank">
            <img class="tint" src="assets/icono_formulario_mail.png" alt="" srcset="">
        </a>
        <a href="https://www.linkedin.com/company/xrs-real-estate-experiencies/" target="_blank">
            <img class="tint" src="assets/icono_in_color.png" alt="" srcset="">
        </a> -->
    </div>
    <div id="menu-burger"> 
        <svg id="ham" class="ham hamRotate " viewBox="0 0 100 100" width="80" >
            <path class="line top"
                d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
            <path class="line middle" d="m 30,50 h 40" />
            <path class="line bottom"
                d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
        </svg>
    </div>
    <div id="mobile-side-menu">
        <div id="side-menu-item-container">
            <div class="side-menu-item">HOME</div>
            <div class="side-menu-item">Cómo comenzó</div>
            <div class="side-menu-item">Importancia cultural</div>
            <!-- <div class="side-menu-item gold">XRS Web</div> -->
            <!-- <div class="side-menu-item gold">XRS Mobile</div> -->
            <!-- <div class="side-menu-item gold">Experiencia VR</div> -->
            <!-- <div class="side-menu-item">CONTACTO</div> -->
            <div id="side-menu-social">
                <!-- <a href="" target="_blank">
                    <img class="tint" src="assets/icono_ig_color.png" alt="" srcset="">
                </a>
                <a href="" target="_blank">
                    <img class="tint" src="assets/icono_whatsapp_color.png" alt="" srcset="">
                </a> --> 
                <!-- <a href="" target="_blank">
                    <img src="assets/icono_formulario_mail.png" alt="" srcset="">
                </a>
                <a href="" target="_blank">
                    <img src="assets/icono_in_color.png" alt="" srcset="">
                </a> -->

                <a href="https://www.tiktok.com/@unidadcorrientes" target="_blank" class="social-icon"><i class="fab fa-tiktok"></i></a>
                <a href="https://x.com/LaUnidadCtes" target="_blank" class="social-icon"><i class="fab fa-x-twitter"></i></a> <!-- o  para la versión más reciente -->
                <a href="https://www.instagram.com/launidadcorrientes/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UC7VtAdXjMnShEWvkslHd93g" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
                
            </div>
        </div>
    </div>
</div>