/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* POLO GASTRONOMICO */
/* #region */
#sGastronomico,
#sMuseo,
#sInnovacion,
#sShopping,
#sEstacionamiento {
    max-width: var(--max-width);
    margin: auto;
    pointer-events: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-top: calc(var(--menu-height) * 1.25);
}

@media (max-height: 750px) {

    #sGastronomico,
    #sMuseo,
    #sInnovacion,
    #sShopping,
    #sEstacionamiento {
        padding-top: calc(var(--menu-height) * 1.0);
    }

    #sGastronomico .title,
    #sMuseo .title,
    #sInnovacion .title,
    #sShopping .title,
    #sEstacionamiento .title {
        font-size: 32px !important;

    }
}

#sGastronomico .title,
#sMuseo .title,
#sInnovacion .title,
#sShopping .title,
#sEstacionamiento .title {
    font-size: 40px;
    color: var(--main-color);
    line-height: 100%;
    font-weight: 900;
    position: relative;
    cursor: pointer;
    pointer-events: all;

}

#sGastronomico .title span,
#sMuseo .title span,
#sInnovacion .title span,
#sShopping .title span,
#sEstacionamiento .title span {
    color: white;
    font-weight: bold;
}

#sGastronomico .text,
#sMuseo .text,
#sInnovacion .text,
#sShopping .text,
#sEstacionamiento .text {
    color: var(--text-color2);
    padding-top: 10px;
    font-size: 16px;
    line-height: 120%;
    max-width: 37%;
    text-align: left;

}

#sGastronomico .text span,
#sMuseo .text span,
#sInnovacion .text span,
#sShopping .text span,
#sEstacionamiento .text span {
    /* color: var(--main-color); */
    font-weight: bold;
    color: white;
}

#sGastronomico .title::before,
#sMuseo .title::before,
#sInnovacion .title::before,
#sShopping .title::before,
#sEstacionamiento .title::before
 {
    /* content: 'x'; */
    /* content: '\2716'; */
    content: '\203A';
    font-size: 30px;
    color: var(--main-color);
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
    transform: rotate(-90deg) translate(20%, -75%);
    pointer-events: all;
}

/* #endregion */



/* ESTACIONAMIENTO */
/* #region */
#sGastronomico,
#sMuseo,
#sInnovacion,
#sShopping,
#sEstacionamiento
/* agregue los de arriba para alinear todos a la derecha */
#sMuseo,
#sEstacionamiento {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
}

#sGastronomico .title,
#sMuseo .title,
#sInnovacion .title,
#sShopping .title,
#sEstacionamiento .title
/* agregue los de arriba para alinear todos a la derecha */
#sMuseo .title,
#sEstacionamiento .title {
    text-align: right;
}

#sGastronomico .text,
#sMuseo .text,
#sInnovacion .text,
#sShopping .text,
#sEstacionamiento .text
/* agregue los de arriba para alinear todos a la derecha */
#sMuseo .text,
#sEstacionamiento .text {
    text-align: right;
}


/* #endregion */